body{
  padding: 30px;
  background-color: #dfb03a;

  overflow-y: scroll;
  scrollbar-width: 2px;
}

.container{
  display: flex;
  position: relative;
}

.character_title{
  padding: 10px;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 30vw;
}
.stat_info{
  padding: 5px;
  text-align: center;
}

.stat_info table tr{
  text-align: center;
  ;
}

.stat_info table tr td{
  padding: 10px;
}

.stat_info table tr p{
  text-align: center;
  font-size: 30px;
  background-color: #f0c24e;
  border-radius: 50px;
}

.abilites{
  background-color: #f0c24e;
  height: 600px;
  padding: 10px;
  text-align: center;

  max-width: 45vw;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-items: center;
}
.abilites::-webkit-scrollbar{
  display: none;
}

.ability_card{
  border: solid black; 
  padding: 5px; 
  width: 80%;
  border-radius: 8px;
  font-size: 18px;

  background-color:  rgb(177, 145, 65);
}

.card{
  padding: 6px;
  min-height: 380px;
  max-height: 380px;
  width: 350px;
  border: solid black;
  border-radius: 5px;
  border-width: 4px;
  background-color:  rgb(177, 145, 65);
  
}

.card h1{
  background-color: rgb(94, 165, 72);
  border-radius: 5px;

  color: white;
  text-shadow: 0 0 7px black;
  
}

.token_card{
  padding: 6px;
  width: 80%;
  border: solid black;
  border-radius: 5px;
  border-width: 4px;
  background-color:  rgb(134, 108, 40);

  position: relative;
  left: 7%;

  font-size: 20px;
  
}

.gear_card{
  padding: 6px;
  width: 80%;
  border: solid black;
  border-radius: 5px;
  border-width: 4px;
  background-color:  rgb(134, 108, 40);

  position: relative;
  left: 7%;

  font-size: 20px;
  text-align: center;
}

.gear_card h2{
  width: 80%;
  background-color: rgb(221, 26, 0);
  border-radius: 5px;

  position: relative;
  left: 10%;
}

.gear_card h3{
  position: relative; 
  padding: 3px;
  left: 90%; 
  background-color: gold; 
  width: fit-content;
  border-radius: 5px;
}

.equipment{
  background-color: #bb9430;
  width: 60vw;
  margin: 5px;

  padding: 20px;

  border: solid black;
}

.resources{
  padding: 10px;
  background-color: #bb9430;
  margin: 5px;
  width: 40vw;
  border: solid black;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.gold_banner{
  background-color: rgb(201, 171, 2); 
  border-radius: 5px; 
  width: 80%; 
  left: 10%; 
  position: relative;
}

.dark_stone_banner{
  background-color: rgb(56, 0, 158); 
  border-radius: 5px; 
  width: 80%; 
  left: 10%; 
  position: relative;
}

.xp_banner{
  background-color: rgb(2, 211, 12); 
  border-radius: 5px; 
  width: 80%; 
  left: 10%; 
  position: relative;
}

.resources::-webkit-scrollbar{
  display: none;
}


