body{
  padding: 30px;
  background-color: #dfb03a;

  overflow-y: scroll;
  scrollbar-width: 2px;
}

.container{
  display: flex;
  position: relative;
}

.character_title{
  padding: 10px;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 30vw;
}
.stat_info{
  padding: 5px;
  background-color: #bb9430;
  height: fit-content;

  text-align: center;
}

.stat_info table tr{
  text-align: center;
  ;
}

.stat_info table tr td{
  padding: 10px;
}

.stat_info table tr p{
  text-align: center;
  font-size: 30px;
  background-color: #f0c24e;
  border-radius: 50px;
}

.abilites{
  background-color: #f0c24e;
  height: 600px;
  padding: 10px;
  text-align: center;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-items: center;
}
.abilites::-webkit-scrollbar{
  display: none;
}

.card{
  padding: 6px;
  min-height: 380px;
  max-height: 380px;
  width: 350px;
  border: solid black;
  border-radius: 5px;
  border-width: 4px;
  background-color:  rgb(177, 145, 65);
  
}

.card h1{
  background-color: rgb(94, 165, 72);
  border-radius: 5px;

  color: white;
  text-shadow: 0 0 7px black;
  
}

.token_card{
  padding: 6px;
  width: 80%;
  border: solid black;
  border-radius: 5px;
  border-width: 4px;
  background-color:  rgb(134, 108, 40);

  position: relative;
  left: 7%;

  font-size: 20px;
  
}

.equipment{
  background-color: #bb9430;
  height: 600px;

  width: 60vw;
  margin: 5px;

  border: solid black;
}

.resources{
  padding: 10px;
  background-color: #bb9430;
  max-height: 600px;
  min-height: 600px;
  margin: 5px;
  width: 40vw;
  border: solid black;

  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;


}

.resources::-webkit-scrollbar{
  display: none;
}


