{%load static%}

<html>
  <head>
    <link rel = "stylesheet" href = "{% static 'css/Main.css' %}">
    <meta charset = "utf-8">
    <title>
    
      {% block title %}
            App Name Here
      {% endblock title %}
    </title>
    <header>
      <table>
        <tr>

          <td>
             <form action="{% url "home" %}" method="post">
                {% csrf_token %}
                <button type="submit">Home</button>
              </form>
          </td>

          <td>
            {% if  user.is_authenticated%}
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            {% endif %}
          </td>

        </tr>
      </table>
    </header>
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
  <script src="{% static 'js/base.js' %}"></script>
</html>