{% extends "base.html" %}

{% block content %}

<div class = 'container'>

  <meta name="csrf-token" content="{{ csrf_token }}" data-id = {{character.pk}} card_data = {{character.class_card}}>

  <div class="character_title">
    <h1>{{character.character_class}}</h1>
    <img src="/static/img/Us_Marshal.png">
    <h2>{{character.character_name}}</h2>

    <div
    style="
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    ">
    <!-- Health area -->
      <div>
        <h3>Health</h3>
        <h4 id = "current_wounds">{{character.current_health}} / {{character.health}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "health+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "health-">
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div> 

      <!-- Sanity area -->
      <div>
        <h3>Sanity</h3>
        <h4 id = "current_sanity">{{character.current_sanity}} / {{character.sanity}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "sanity+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "sanity-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

      <!-- Corruption area -->
      <div>
        <h3>Corrupt</h3>
        <h4 id = "current_corruption">{{character.current_corruption}} / {{character.corruption}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "corupt+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "corupt-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

      <!-- Grit area -->
      <div>
        <h3>Grit</h3>
        <h4 id = "current_grit">{{character.current_grit}} / {{character.max_grit}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "grit+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "grit-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div style="
  background-color: #bb9430;
  height: fit-content;
  ">
    <!-- Character stats -->
  <div class = 'stat_info'>
    <table>
      <h1>Stats</h1>
      <tr> 
        <td>
          <h2>Agility</h2>
          <p id = "agility">{{character.agility}}</p>
        </td>
        <td>
          <h2>Cunning</h2>
          <p id = "cunning">{{character.cunning}}</p>
        </td>
        <td>
          <h2>Spitit</h2>
          <p id = "spirit">{{character.spirit}}</p>
        </td>
      </tr>

      <tr style="text-align: center;"> 
        <td>
          <h2>Strength</h2>
          <p id = "strength">{{character.strength}}</p>
        </td>
        <td>
          <h2>Lore</h2>
          <p id = "lore">{{character.lore}}</p>
        </td>
        <td>
          <h2>Luck</h2>
          <p id = luck>{{character.luck}}</p>
        </td>
      </tr>
  </div>

  <!-- Combat stats -->
  <div class = 'stat_info'>
  <table>
    <h1> Combat</h1>
    <h2 id = "initiative"> Initiative: {{character.initiative}}</h2>
    <tr>
      <td><h3 id = "defence">Defence: {{character.defence}}</h3></td>
      <td></td>
      <td><h3 id = "willpower">WillPower: {{character.willpower}}</h3></td>
    </tr>
    <tr> 
        <td>
          <h2>Range</h2>
          <p id = "range">{{character.range_to_hit}}+</p>
        </td>
        <td>
          <h2>Melee</h2>
          <p id = "melee">{{character.melee_to_hit}}+</p>
        </td>
        <td>
          <h2>Comabt</h2>
          <p id = "combat">{{character.combat}}</p>
        </td>
      </tr>

  </table>
  </div>
  </div>
  


  <!-- character abilites -->
  <div class = 'abilites'>
    <h1> Class Ability</h1>
    <p>
      Double-Shot: Once per turn, when you kill an Enemy with a ShotGun, you gain +1 shot with that ShotGun
    </p>
    
    <div class = "card" id = "character_card">

      {% if character.class_card == 1 %}
        <h1>Rolling Thunder</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        " >
          Any time you kill and Enemy, you may recover a <b>Grit</b> on the D6 roll of 4+
        </p>
      {% elif character.class_card == 2%}
        <h1>Harden Resolve</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        " >
          Use <b>1 Grit</b> to Heal up to 4 Wounds/Sanity (any mix) total from yourself and other Heros on your Map Tile <br> <br>
          You may Recover one extra <b>Grit</b> when using a <b>Tonic</b> side bag token</p>
      {% else %}
        <h1>Cleaning Up The West</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        " >
          Any time you kill an Enemy you may Heal <b>1 Wound</b> <u> and</u> <b>1 Sanity</b> and gain <b>10 XP</b>
        </p>
        <br>
        <h2>+1 Max Grit</h2>
      {% endif %}
    </div>
    <br>

     <!-- card buttons -->
    <div>
      <table> 
      <tr>
        <td>
          <div>
            <form action="post" id = "card_previous">
              <button style="font-size: 30px;">&#8592;</button>
            </form>
          </div>
        </td>
        <td>
          <div>
            <form action="post" id="card_next">
              <button style="font-size: 30px;"> &#8594; </button>
            </form>
          </div>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>

<details open>
  <summary style="font-size: 20px;">Toggle Abilites</summary>

  <div style="display: flex; flex-direction: row;">
  <!-- passivs buffs -->
    <div id = "passive" 
      style="display: block; width: 100%; text-align: center; justify-items: center;"> 
      <!-- character buffs -->
      <h1> Passive Buffs </h1>
      {% for buff in character.passive_buffs.all %}
        <div class = 'ability_card'>
          <h3> {{buff.name}} </h3>
          <p> {{buff.text}}</p>
        </div>
        <br>
      {% endfor %}
    </div>
   
<!-- once per turn actions -->
    <div id = "per_turn"
      style="display: block; width: 100%; text-align: center; justify-items: center;">
      <!-- Per Turn -->
      <h1> Per Turn </h1>
      {% for per_turn in character.per_turn.all %}
        <div class = 'ability_card' id="per_turn_{{per_turn.pk}}" data-id={{per_turn.pk}}>
          <h3> {{per_turn.name}} </h3>
          <p> {{per_turn.text}}</p>
        </div>
        <br>
      {% endfor %}
    </div>
  
<!-- once per fight actions -->
    <div id = "per_fight" 
    style="display: block; width: 100%; text-align: center; justify-items: center;">
      <!-- Per Fight -->
      <h1> Per Fight </h1>
      {% for per_fight in character.per_fight.all %}
        <div class = 'ability_card' id="per_fight_{{per_fight.pk}}" data-id={{per_fight.pk}}>
          <h3> {{per_fight.name}} </h3>
          <p> {{per_fight.text}}</p>
        </div>
        <br>
      {% endfor %}
    </div>
    
<!-- once per adventure actions -->
    <div id = 'per_adventure'
      style="display: block; width: 100%; text-align: center; justify-items: center;">
      <!-- Per Adventure -->
      <h1> Per Adventure </h1>
      {% for per_adventure in character.per_adventure.all %}
        <div class = 'ability_card' id="per_adventure_{{per_adventure.pk}}" data-id={{per_adventure.pk}}>
          <h3> {{per_adventure.name}} </h3>
          <p> {{per_adventure.text}}</p>
        </div>
        <br>
      {% endfor %}
    </div>
</div> 
</details>


<!-- Character equipment -->
<div class = 'container'>
  <div class = 'equipment'>

    <!-- Gear -->
    <div>
      <h1 style="text-align: center; ">Gear</h1>
      <button style="position: relative; left: 45%;"><a href = '{% url "add_gear" character.pk%}'>Add gear</a></button>
      <br>
      <br>
      <details open>
        <summary style="font-size: 20px;">Toggle Gear</summary>
    

      {% for gear in character.equiped_gear.all %}
        <div class = 'gear_card' 
        id = "gear_{{gear.pk}}" 
        agility = '{{gear.gear.agility_buff}}'
        cunning = '{{gear.gear.cunning_buff}}'
        spirit = '{{gear.gear.spirit_buff}}'
        strength = '{{gear.gear.strength_buff}}'
        lore = '{{gear.gear.lore_buff}}'
        luck = '{{gear.gear.luck_buff}}'
        >
            <h2>{{gear.gear.name}}</h2>
            <p>{{gear.gear.description}}</p>
            <button onclick="Delete_Gear('{{gear.pk}}','gear_{{gear.pk}}')">Discard</button>
            <h3>${{gear.gear.value}}</h3>
        </div>
        <br>
        <!-- Gear Script -->
        <script>

          async function Send_Data(Data) {

            // get csrf token for safty
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            // get the primary key of the model
            const pk = document.querySelector('meta[name="csrf-token"]').getAttribute('data-id');

            //sending post request to character 
            let send_data = await fetch(`/characters/${pk}/`,{
              headers: {
                'Content-Type':'application/json',
                'X-CSRFToken': csrfToken,},
              method : 'POST',
              body : JSON.stringify(Data
              )// body
            })//fetch function

            let send_json = await send_data.json()
            return send_json
          }

          async function Update_Character_Date(Data){

          // assign character stats
          agility = document.getElementById('agility')
          cunning = document.getElementById('cunning')
          spirit = document.getElementById('spirit')
          strength = document.getElementById('strength')
          lore = document.getElementById('lore')
          luck = document.getElementById('luck')

          health = document.getElementById("current_wounds")
          grit = document.getElementById("current_grit")

          // temp dictionary
          var a = {}
          a["function"] = "update"

          // merge two dictionaries together
          var info = Object.assign({},a,Data)

          // get new dictionary of information to update character stats
          data_dict = await Send_Data(info);

          if("health" in data_dict){
            health.innerHTML = `{{character.current_health}} / ${data_dict["health"]}`
          }

          if('max_grit' in data_dict){
            grit.innerHTML = ` ${data_dict["current_grit"]} / ${data_dict["max_grit"]}`
          }

          if ('agility' in data_dict){
            agility.innerHTML = `${data_dict['agility']}`
          }

          if ('cunning' in data_dict){
            cunning.innerHTML = `${data_dict['cunning']}`
          }

          if ('strength' in data_dict){
            strength.innerHTML = `${data_dict['strength']}`
          }

          if ('spirit' in data_dict){
            spirit.innerHTML = `${data_dict['spirit']}`
          }

          if ('lore' in data_dict){
            lore.innerHTML = `${data_dict['lore']}`
          }

          if ('luck' in data_dict){
          luck.innerHTML = `${data_dict['luck']}`
          }

        }
        
          async function equip_gear_instance(Data){
            info = {}
            info['function'] = "equip_gear_instance"
            info['gear_instance'] = Data

            data_dict = await Send_Data(info);
          }

          async function Delete_Gear(Data,Node){
            info = {}
            info['function'] = "delete_gear"
            info['gear_instance'] = Data

            data_dict = await Send_Data(info);

            gear = document.getElementById(Node)

            agility = gear.getAttribute('agility')
            cunning = gear.getAttribute('cunning')
            spirit = gear.getAttribute('spirit')
            strength = gear.getAttribute('strength')
            lore = gear.getAttribute('lore')
            luck = gear.getAttribute('luck')

            info = {}
            info['agility'] = -agility
            info['cunning'] = -cunning
            info['spirit'] = -spirit
            info['strength'] = -strength
            info['lore'] = -lore
            info['luck'] = -luck
            Update_Character_Date(info)

            
            gear.parentNode.removeChild(gear)

            perk_instance = `gear_perk_${Data}`
            perk = document.getElementById(perk_instance)
            perk.parentNode.removeChild(perk)

          }
        

          name = '{{gear.gear.name}}'
          description = '{{gear.gear.description}}'
          buff_type = '{{gear.gear.buff_type}}'


          agility = '{{gear.gear.agility_buff}}'
          cunning = '{{gear.gear.cunning_buff}}'
          spirit = '{{gear.gear.spirit_buff}}'
          strength = '{{gear.gear.strength_buff}}'
          lore = '{{gear.gear.lore_buff}}'
          luck = '{{gear.gear.luck_buff}}'

          equiped = '{{gear.equiped}}'

          if(equiped == 'False'){
            equip_gear_instance('{{gear.pk}}')

            info = {}
            info['agility'] = agility
            info['cunning'] = cunning
            info['spirit'] = spirit
            info['strength'] = strength
            info['lore'] = lore
            info['luck'] = luck
            Update_Character_Date(info)
          }

          if(buff_type == 'passive'){

            //get passive and change its css
            let passives = document.getElementById('passive')
            passives.style.display = 'block';
            passives.style.width = "100%";
            passives.style.test_align = 'center';
            passives.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','gear_perk_{{gear.pk}}')

            passives.appendChild(new_div)
            passives.appendChild(new_br)
          }

          if(buff_type == "turn"){
            //get passive and change its css
            let div_location = document.getElementById('per_turn')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','gear_perk_{{gear.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }
        
          if(buff_type == "fight"){
            //get passive and change its css
            let div_location = document.getElementById('per_fight')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','gear_perk_{{gear.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }
        
          if(buff_type == "adventure"){
            //get passive and change its css
            let div_location = document.getElementById('per_adventure')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','gear_perk_{{gear.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }

        </script>
      {% endfor %}
      </details>
      </div>
      
    <div>
      <h1 style="text-align: center;">Artifacts</h1>
      <button style="position: relative; left: 45%;"><a href = '{% url "add_mine_artifact" character.pk%}'>Add Mine Artifact</a></button>
      <br>
      <br>
      <details open>
        <summary style="font-size: 20px;">Toggle Artifacts</summary>
        
        {% for artifact in character.equiped_mine_artifact.all %}
        <div class = 'mine_card' 
        id = "mine_artifact_{{artifact.pk}}" 
        agility = '{{artifact.mine_artifact.agility_buff}}'
        cunning = '{{artifact.mine_artifact.cunning_buff}}'
        spirit = '{{artifact.mine_artifact.spirit_buff}}'
        strength = '{{artifact.mine_artifact.strength_buff}}'
        lore = '{{artifact.mine_artifact.lore_buff}}'
        luck = '{{artifact.mine_artifact.luck_buff}}'
        >
            <h2>{{artifact.mine_artifact.name}}</h2>
            <p>{{artifact.mine_artifact.description}}</p>
            <button onclick="Delete_Mine_Artifact('{{artifact.pk}}','mine_artifact_{{artifact.pk}}')">Discard</button>
            <h3>${{artifact.mine_artifact.value}}</h3>
        </div>
        <br>

        <script>

          async function Send_Data(Data) {

            // get csrf token for safty
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            // get the primary key of the model
            const pk = document.querySelector('meta[name="csrf-token"]').getAttribute('data-id');

            //sending post request to character 
            let send_data = await fetch(`/characters/${pk}/`,{
              headers: {
                'Content-Type':'application/json',
                'X-CSRFToken': csrfToken,},
              method : 'POST',
              body : JSON.stringify(Data
              )// body
            })//fetch function

            let send_json = await send_data.json()
            return send_json
          }

          async function Update_Character_Date(Data){

          // assign character stats
          agility = document.getElementById('agility')
          cunning = document.getElementById('cunning')
          spirit = document.getElementById('spirit')
          strength = document.getElementById('strength')
          lore = document.getElementById('lore')
          luck = document.getElementById('luck')

          health = document.getElementById("current_wounds")
          grit = document.getElementById("current_grit")

          // temp dictionary
          var a = {}
          a["function"] = "update"

          // merge two dictionaries together
          var info = Object.assign({},a,Data)

          // get new dictionary of information to update character stats
          data_dict = await Send_Data(info);

          console.log(data_dict)

          if("health" in data_dict){
            health.innerHTML = `{{character.current_health}} / ${data_dict["health"]}`
          }

          if('max_grit' in data_dict){
            grit.innerHTML = ` ${data_dict["current_grit"]} / ${data_dict["max_grit"]}`
          }

          if ('agility' in data_dict){
            agility.innerHTML = `${data_dict['agility']}`
          }

          if ('cunning' in data_dict){
            cunning.innerHTML = `${data_dict['cunning']}`
          }

          if ('strength' in data_dict){
            strength.innerHTML = `${data_dict['strength']}`
          }

          if ('spirit' in data_dict){
            spirit.innerHTML = `${data_dict['spirit']}`
          }

          if ('lore' in data_dict){
            lore.innerHTML = `${data_dict['lore']}`
          }

          if ('luck' in data_dict){
          luck.innerHTML = `${data_dict['luck']}`
          }

        }
        
          async function equip_mine_artifact_instance(Data){
            info = {}
            info['function'] = "equip_mine_artifact_instance"
            info['mine_artifact_instance'] = Data

            data_dict = await Send_Data(info);
          }

          async function Delete_Mine_Artifact(Data,Node){
            info = {}
            info['function'] = "delete_mine_artifact"
            info['mine_artifact_instance'] = Data

            data_dict = await Send_Data(info);

            mine_artifact = document.getElementById(Node)

            agility = mine_artifact.getAttribute('agility')
            cunning = mine_artifact.getAttribute('cunning')
            spirit = mine_artifact.getAttribute('spirit')
            strength = mine_artifact.getAttribute('strength')
            lore = mine_artifact.getAttribute('lore')
            luck = mine_artifact.getAttribute('luck')

            info = {}
            info['agility'] = -agility
            info['cunning'] = -cunning
            info['spirit'] = -spirit
            info['strength'] = -strength
            info['lore'] = -lore
            info['luck'] = -luck
            Update_Character_Date(info)

            
            mine_artifact.parentNode.removeChild(mine_artifact)

            perk_instance = `mine_aritfact_perk_${Data}`
            perk = document.getElementById(perk_instance)
            perk.parentNode.removeChild(perk)

          }
        
          name = '{{artifact.mine_artifact.name}}'
          description = '{{artifact.mine_artifact.description}}'
          buff_type = '{{artifact.mine_artifact.buff_type}}'


          agility = '{{artifact.mine_artifact.agility_buff}}'
          cunning = '{{artifact.mine_artifact.cunning_buff}}'
          spirit = '{{artifact.mine_artifact.spirit_buff}}'
          strength = '{{artifact.mine_artifact.strength_buff}}'
          lore = '{{artifact.mine_artifact.lore_buff}}'
          luck = '{{artifact.mine_artifact.luck_buff}}'

          equiped = '{{artifact.equiped}}'

          if(equiped == 'False'){
            equip_mine_artifact_instance('{{artifact.pk}}')

            info = {}
            info['agility'] = agility
            info['cunning'] = cunning
            info['spirit'] = spirit
            info['strength'] = strength
            info['lore'] = lore
            info['luck'] = luck

            Update_Character_Date(info)
          }

          if(buff_type == 'passive'){

            //get passive and change its css
            let passives = document.getElementById('passive')
            passives.style.display = 'block';
            passives.style.width = "100%";
            passives.style.test_align = 'center';
            passives.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','mine_aritfact_perk_{{artifact.pk}}')

            passives.appendChild(new_div)
            passives.appendChild(new_br)
          }

          if(buff_type == "turn"){
            //get passive and change its css
            let div_location = document.getElementById('per_turn')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','mine_aritfact_perk_{{artifact.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }
        
          if(buff_type == "fight"){
            //get passive and change its css
            let div_location = document.getElementById('per_fight')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','mine_aritfact_perk_{{artifact.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }
        
          if(buff_type == "adventure"){
            //get passive and change its css
            let div_location = document.getElementById('per_adventure')
            div_location.style.display = 'block';
            div_location.style.width = "100%";
            div_location.style.test_align = 'center';
            div_location.style.justifyItems = 'center';

            // create new div that will be added to passive
            new_div = document.createElement('div')
            new_h3 = document.createElement('h3')
            new_text = document.createElement('p')
            new_br = document.createElement('br')

            new_h3.textContent = name
            new_text.textContent = description
            new_div.className = "ability_card"

            new_div.appendChild(new_h3)
            new_div.appendChild(new_text)
            new_div.setAttribute('id','mine_aritfact_perk_{{artifact.pk}}')

            div_location.appendChild(new_div)
            div_location.appendChild(new_br)
          }

        </script>

        {% endfor %}
      </details>
  </div>


  </div> <!-- Equipment-->

  


  <div class = 'resources'>
    <div style="
    background-color:  rgb(134, 108, 40); 
    border: solid black 3px; 
    border-radius: 5px;
    ">
      <!-- Gold area-->
      <div>
        <h1 class="gold_banner" id = "current_gold">Gold: {{character.gold}}</h1>
        <button onclick="Gold_Data(5)">5</button>
        <button onclick="Gold_Data(10)">10</button>
        <button onclick="Gold_Data(15)">15</button>
        <br>
        <br>
        <form method = 'post' id = 'gold'>
          {% csrf_token %}
          <input type="number" id = 'gold_value' value="0">
          <button type="submit">Enter</button>
        </form>
      </div>

      <!-- DarkStone area -->
      <div>
        <h1 class = 'dark_stone_banner' id = 'current_dark_stone'>DarkStone: {{character.dark_stone}}</h1>
        <button onclick="Dark_Stone_Data('+')">+</button>
        <button onclick="Dark_Stone_Data('-')">-</button>
      </div>

        <!-- XP area -->
        <div>
          <h1 class = "xp_banner" id = 'current_xp'>XP: {{character.xp}} / 500</h1>
          <h2>Level: {{character.level}}</h2>
          <button onclick="XP_Data(5)">5</button>
          <button onclick="XP_Data(10)">10</button>
          <button onclick="XP_Data(15)">15</button>
          <br>
          <br>
          <form method = 'post' id = 'xp'>
            {% csrf_token %}
            <input type="number" id = 'xp_value' value="0">
            <button type="submit">Enter</button>
          </form>
        </div>
    </div>

    <!-- character tokens -->
    <div id = "side_bag">
        <h1>TOKEN BAG</h1>
        <button><a href = '{% url "add_token" character.pk%}'>Add Token</a></button>
        <br>
        <br>
        {% for token in character.side_bag.all %}
        <div class = 'token_card' id = 'token_{{token.pk}}'>
          <h3>{{token.token.name}}</h3>
          <p>{{token.token.description}}</p>
          <button onclick="Delete_Token('{{token.pk}}','token_{{token.pk}}'
            )">Discard</button>
        </div>
        <br>
        {% endfor %}
    </div>

  </div>
</div>

 

<script>
  // get csrf token for safty
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  // get the primary key of the model
  const pk = document.querySelector('meta[name="csrf-token"]').getAttribute('data-id');

  // get the current card data
  let class_card = document.querySelector('meta[name="csrf-token"]').getAttribute('card_data');

  // marshall only code for increasing max grit
  if(class_card == 3){
    var card_3_equiped = true
  }
  else{
    var card_3_equiped = false
  }


// functions--------------------------------------------------------------------------------------------------

  // for sending post request to the model
  // data will be a dictionary of information, use the key for function to assign the logic
  async function Send_Data(Data) {

    //sending post request to character 
    let send_data = await fetch(`/characters/${pk}/`,{
      headers: {
        'Content-Type':'application/json',
        'X-CSRFToken': csrfToken,},
      method : 'POST',
      body : JSON.stringify(Data
      )// body
    })//fetch function

    let send_json = await send_data.json()
    return send_json
  }

  async function Health_Data(Data) {
    
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    health = data_dict["health"]

    document.getElementById("current_wounds").innerHTML = `${health} / {{character.health}}`
  }

  async function Sanity_Data(Data){
    //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    sanity = data_dict["sanity"]

    document.getElementById("current_sanity").innerHTML = `${sanity} / {{character.sanity}}`
  }

  async function Grit_Data(Data){
     //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    grit = data_dict["grit"]

    max_grit = data_dict["max_grit"]

    document.getElementById("current_grit").innerHTML = `${grit} / ${max_grit}`
  }

  async function Corrupt_Data(Data){
    //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    corruption = data_dict["corruption"]

    document.getElementById("current_corruption").innerHTML = `${corruption} / {{character.corruption}}`
  }

  async function Card_Data(Data){
    //get the primary key
    let info = {}
    info["function"] = Data;
    data_dict = await Send_Data(info);
    card = data_dict["card"]

    let character_card = document.getElementById('character_card')

    if(card == 1){
      character_card.innerHTML = `
      <h1>Rolling Thunder</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      " >
        Any time you kill and Enemy, you may recover a <b>Grit</b> on the D6 roll of 4+
      </p>
      `

      if(card_3_equiped == true){
        card_3_equiped = false

        data = {}
        data['max_grit'] = -1
        Update_Character_Date(data)
      }
    }
    if(card == 2){
      character_card.innerHTML = `
      <h1>Harden Resolve</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      " >
        Use <b>1 Grit</b> to Heal up to 4 Wounds/Sanity (any mix) total from yourself and other Heros on your Map Tile <br> <br>
        You may Recover one extra <b>Grit</b> when using a <b>Tonic</b> side bag token</p>
      `

      if(card_3_equiped == true){
        card_3_equiped = false

        data = {}
        data['max_grit'] = -1
        Update_Character_Date(data)
      }
    }
    if(card == 3){
      character_card.innerHTML = `
      <h1>Cleaning Up The West</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      " >
        Any time you kill an Enemy you may Heal <b>1 Wound</b> <u> and</u> <b>1 Sanity</b> and gain <b>10 XP</b>
      </p>
      <br>
      <h2>+1 Max Grit</h2>
      `
      if(card_3_equiped == false){
        card_3_equiped = true

        data = {}
        data['max_grit'] = 1
        Update_Character_Date(data)
      }


    }
  }

  async function Gold_Data(Data){
  let info = {}
  info['function'] = "gold"
  info["gold_value"] = Data

  data_dict = await Send_Data(info);
  gold = data_dict["new_gold_value"]

  current_gold = document.getElementById("current_gold")
  current_gold.innerHTML = `Gold: ${gold}`

  document.getElementById('gold_value').value = 0

}

  async function Dark_Stone_Data(Data){
    let info = {}
    info['function'] = "dark_stone"
    info["dark_stone_value"] = Data

    data_dict = await Send_Data(info);
    dark_stone = data_dict["new_dark_stone_value"]

    current_gold = document.getElementById("current_dark_stone")
    current_gold.innerHTML = `DarkStone: ${dark_stone}`
  }

  async function XP_Data(Data){
  let info = {}
  info['function'] = "XP"
  info["xp_value"] = Data

  data_dict = await Send_Data(info);
  xp = data_dict["new_xp_value"]

  current_xp = document.getElementById("current_xp")
  current_xp.innerHTML = `XP: ${xp} / 500`

  document.getElementById('xp_value').value = 0

}

  async function Update_Character_Date(Data){

    // assign character stats
    agility = document.getElementById('agility')
    cunning = document.getElementById('cunning')
    spirit = document.getElementById('spirit')
    strength = document.getElementById('strength')
    lore = document.getElementById('lore')
    luck = document.getElementById('luck')

    health = document.getElementById("current_wounds")
    grit = document.getElementById("current_grit")

    // temp dictionary
    var a = {}
    a["function"] = "update"

    // merge two dictionaries together
    var info = Object.assign({},a,Data)

    // get new dictionary of information to update character stats
    data_dict = await Send_Data(info);

    if("health" in data_dict){
      health.innerHTML = `{{character.current_health}} / ${data_dict["health"]}`
    }

    if('max_grit' in data_dict){
      grit.innerHTML = ` ${data_dict["current_grit"]} / ${data_dict["max_grit"]}`
    }

    if ('agility' in data_dict){
      agility.innerHTML = `${data_dict['agility']}`
    }

    if ('cunning' in data_dict){
      cunning.innerHTML = `${data_dict['cunning']}`
    }

    if ('strength' in data_dict){
      strength.innerHTML = `${data_dict['strength']}`
    }

    if ('spirit' in data_dict){
      spirit.innerHTML = `${data_dict['spirit']}`
    }

    if ('lore' in data_dict){
      lore.innerHTML = `${data_dict['lore']}`
    }

    if ('luck' in data_dict){
      luck.innerHTML = `${data_dict['luck']}`
    }

    

  }

  async function Delete_Token(Data,Node){
    let info = {}
    info["function"] = "delete_token";
    info["token_instnace"] = Data

    data_dict = await Send_Data(info);

    token = document.getElementById(Node)

    token.parentNode.removeChild(token)




  }

// health,sanity,grit buttons------------------------------------------------------------------------------------------
  document.getElementById('health+').addEventListener('submit',async function(event){
    event.preventDefault();
     Health_Data('health+');
  })//health form function

  document.getElementById('health-').addEventListener('submit',async function(event){
    event.preventDefault();
     Health_Data('health-');
  })//health form function

  document.getElementById('sanity+').addEventListener('submit',async function(event){
    event.preventDefault();
     Sanity_Data('sanity+');
  })//health form function

  document.getElementById('sanity-').addEventListener('submit',async function(event){
    event.preventDefault();
     Sanity_Data('sanity-');
  })//health form function

  document.getElementById('grit+').addEventListener('submit', async function(event){
    event.preventDefault();
     Grit_Data('grit+');
  })

  document.getElementById('grit-').addEventListener('submit', async function(event){
    event.preventDefault();
     Grit_Data('grit-');
  })

  document.getElementById("corupt+").addEventListener('submit', async function(event){
    event.preventDefault();
    Corrupt_Data("corupt+")
  })

  document.getElementById("corupt-").addEventListener('submit', async function(event){
    event.preventDefault();
    Corrupt_Data("corupt-")
  })

// character card buttons---------------------------------------------------------------------------------------------
  document.getElementById('card_next').addEventListener('submit', async function(event){
    event.preventDefault();
    Card_Data('card_next')
  })

  document.getElementById('card_previous').addEventListener('submit', async function(event){
    event.preventDefault();
    Card_Data('card_previous')
  })

// resource buttons-----------------------------------------------------------------------------------------------------
  document.getElementById('gold').addEventListener('submit',async function(event){
    event.preventDefault();
    gold_value = document.getElementById('gold_value').value;
    Gold_Data(gold_value)
  })

  document.getElementById('xp').addEventListener('submit', async function(event){
    event.preventDefault();
    xp_value = document.getElementById('xp_value').value;
    XP_Data(xp_value)
  })
</script>
{% endblock content %}

