{% extends "base.html" %}

{% block content %}

<div class = 'container'>

  <meta name="csrf-token" content="{{ csrf_token }}" data-id = {{character.pk}} card_data = {{character.class_card}}>

  <div class="character_title">
    <h1>{{character.character_class}}</h1>
    <img src="/static/img/Us_Marshal.png">
    <h2>{{character.character_name}}</h2>

    <div
    style="
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    ">
      <div>
        <h3>Health</h3>
        <h4 id = "current_wounds">{{character.current_health}} / {{character.health}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "health+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "health-">
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div> 

      <div>
        <h3>Sanity</h3>
        <h4 id = "current_sanity">{{character.current_sanity}} / {{character.sanity}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "sanity+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "sanity-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

      <div>
        <h3>Corrupt</h3>
        <h4 id = "current_corruption">{{character.current_corruption}} / {{character.corruption}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "corupt+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "corupt-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

      <div>
        <h3>Grit</h3>
        <h4 id = "current_grit">{{character.current_grit}} / {{character.max_grit}}</h4>
        <table>
          <tr>
            <td>
              <form method="post" id = "grit+">
              {% csrf_token %}
              <button type="submit">+</button>
            </form>
            </td>
            <td>
              <form method="post" id = "grit-" >
              {% csrf_token %}
              <button type="submit">-</button>
            </form>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class = 'stat_info'>
    <table>
      <h1>Stats</h1>
      <tr> 
        <td>
          <h2>Agility</h2>
          <p id = "agility">{{character.agility}}</p>
        </td>
        <td>
          <h2>Cunning</h2>
          <p id = "cunning">{{character.cunning}}</p>
        </td>
        <td>
          <h2>Spitit</h2>
          <p id = "spirit">{{character.spirit}}</p>
        </td>
      </tr>

      <tr style="text-align: center;"> 
        <td>
          <h2>Strength</h2>
          <p id = "strength">{{character.strength}}</p>
        </td>
        <td>
          <h2>Lore</h2>
          <p id = "lore">{{character.lore}}</p>
        </td>
        <td>
          <h2>Luck</h2>
          <p id = luck>{{character.luck}}</p>
        </td>
      </tr>
  </div>

  <div class = 'stat_info'>
  <table>
    <h1> Combat</h1>
    <h2 id = "initiative"> Initiative: {{character.initiative}}</h2>
    <tr> 
        <td>
          <h2>Range</h2>
          <p id = "range">{{character.range_to_hit}}+</p>
        </td>
        <td>
          <h2>Melee</h2>
          <p id = "melee">{{character.melee_to_hit}}+</p>
        </td>
        <td>
          <h2>Comabt</h2>
          <p id = "combat">{{character.combat}}</p>
        </td>
      </tr>

  </table>
  </div>


  <div class = 'abilites'>
    <h1> Class Ability</h1>
    <p>
      Double-Shot: Once per turn, when you kill an Enemy with a ShotGun, you gain +1 shot with that ShotGun
    </p>
    
    <div class = "card" id = "character_card">

      {% if character.class_card == 1 %}
        <h1>Rolling Thunder</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        " >
          Any time you kill and Enemy, you may recover a <b>Grit</b> on the D6 roll of 4+
        </p>
      {% elif character.class_card == 2%}
        <h1>Harden Resolve</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        " >
          Use <b>1 Grit</b> to Heal up to 4 Wounds/Sanity (any mix) total from yourself and other Heros on your Map Tile <br> <br>
          You may Recover one extra <b>Grit</b> when using a <b>Tonic</b> side bag token</p>
      {% else %}
        <h1>Cleaning Up The West</h1>
        <p
        style="
        position: relative;
        padding: 30px;
        float: left;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        " >
          Any time you kill an Enemy you may Heal <b>1 Wound</b> <u> and</u> <b>1 Sanity</b> and gain <b>10 XP</b>
        </p>
        <br>
        <h2>+1 Max Grit</h2>
      {% endif %}
    </div>

    <br>

     <!-- card buttons -->
    <div>
      <table> 
      <tr>
        <td>
          <div>
            <form action="post" id = "card_previous">
              <button style="font-size: 30px;">&#8592;</button>
            </form>
          </div>
        </td>
        <td>
          <div>
            <form action="post" id="card_next">
              <button style="font-size: 30px;"> &#8594; </button>
            </form>
          </div>
        </td>
      </tr>
    </table>
    </div>

    <!-- character buffs -->
    <h1> Passive Buffs </h1>
    {% for buff in character.passive_buffs.all %}
      <div style="
      border: solid black; 
      padding: 5px; 
      width: 80%;
      border-radius: 8px;
      font-size: 18px;"
      id="buff_{{buff.pk}}"
      data-id={{buff.pk}}>
        <h3> {{buff.name}} </h3>
        <p> {{buff.text}}</p>
      </div>
      <br>
    {% endfor %}
  </div>
</div>


<div class = 'container'>
  <div class = 'equipment'>
    hello world
  </div>


  <div class = 'resources'>

    <!-- character gold and darkstone -->
    <div style="background-color:  rgb(134, 108, 40); border: solid black 3px; border-radius: 5px;">
        <h1 class="gold_banner" id = "current_gold">Gold: {{character.gold}}</h1>
        <button onclick="Gold_Data(5)">5</button>
        <button onclick="Gold_Data(10)">10</button>
        <button onclick="Gold_Data(15)">15</button>
        <br>
        <br>
        <form method = 'post' id = 'gold'>
          {% csrf_token %}
          <input type="number" id = 'gold_value' value="0">
          <button type="submit">Enter</button>
        </form>

        <h1 class = 'dark_stone_banner' id = 'current_dark_stone'>DarkStone: {{character.dark_stone}}</h1>
        <button onclick="Dark_Stone_Data('+')">+</button>
        <button onclick="Dark_Stone_Data('-')">-</button>

        <div>
          <h1 class = "xp_banner" id = 'current_xp'>XP: {{character.xp}} / 500</h1>
          <h2>Level: {{character.level}}</h2>
          <button onclick="XP_Data(5)">5</button>
          <button onclick="XP_Data(10)">10</button>
          <button onclick="XP_Data(15)">15</button>
          <br>
          <br>
          <form method = 'post' id = 'xp'>
            {% csrf_token %}
            <input type="number" id = 'xp_value' value="0">
            <button type="submit">Enter</button>
          </form>
        </div>
    </div>

    

    <!-- character tokens -->
    <div id = "side_bag">
        <h1>TOKEN BAG</h1>
        <button><a href = '{% url "add_token" character.pk%}'>Add Token</a></button>
        <br>
        <br>
        {% for token in character.side_bag.all %}
        <div class = 'token_card' id = "token_{{token.pk}}" data-id="{{token.pk}}">
          <h3>{{token.token.name}}</h3>
          <p>{{token.token.description}}</p>
          <button onclick="Delete_Token(
            document.getElementById('token_{{token.pk}}').getAttribute('data-id'),
            'token_{{token.pk}}'
            )">Discard</button>
        </div>
        <br>
        {% endfor %}
    </div>

  </div>
</div>

 

<script>
  // get csrf token for safty
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  // get the primary key of the model
  const pk = document.querySelector('meta[name="csrf-token"]').getAttribute('data-id');

  // get the current card data
  let class_card = document.querySelector('meta[name="csrf-token"]').getAttribute('card_data');

  // marshall only code for increasing max grit
  if(class_card == 3){
    var card_3_equiped = true
  }
  else{
    var card_3_equiped = false
  }


  

// functions--------------------------------------------------------------------------------------------------

  // for sending post request to the model
  // data will be a dictionary of information, use the key for function to assign the logic
  async function Send_Data(Data) {

    //sending post request to character 
    let send_data = await fetch(`/characters/${pk}`,{
      headers: {
        'Content-Type':'application/json',
        'X-CSRFToken': csrfToken,},
      method : 'POST',
      body : JSON.stringify(Data
      )// body
    })//fetch function

    let send_json = await send_data.json()
    return send_json
  }

  async function Health_Data(Data) {
    
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    health = data_dict["health"]

    document.getElementById("current_wounds").innerHTML = `${health} / {{character.health}}`
  }

  async function Sanity_Data(Data){
    //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    sanity = data_dict["sanity"]

    document.getElementById("current_sanity").innerHTML = `${sanity} / {{character.sanity}}`
  }

  async function Grit_Data(Data){
     //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    grit = data_dict["grit"]

    max_grit = data_dict["max_grit"]

    document.getElementById("current_grit").innerHTML = `${grit} / ${max_grit}`
  }

  async function Corrupt_Data(Data){
    //get the primary key
    let info = {}

    info["function"] = Data;
    
    data_dict = await Send_Data(info);

    corruption = data_dict["corruption"]

    document.getElementById("current_corruption").innerHTML = `${corruption} / {{character.corruption}}`
  }

  async function Card_Data(Data){
    //get the primary key
    let info = {}
    info["function"] = Data;
    data_dict = await Send_Data(info);
    card = data_dict["card"]

    let character_card = document.getElementById('character_card')

    if(card == 1){
      character_card.innerHTML = `
      <h1>Rolling Thunder</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      " >
        Any time you kill and Enemy, you may recover a <b>Grit</b> on the D6 roll of 4+
      </p>
      `

      if(card_3_equiped == true){
        card_3_equiped = false

        data = {}
        data['max_grit'] = -1
        Update_Character_Date(data)
      }
    }
    if(card == 2){
      character_card.innerHTML = `
      <h1>Harden Resolve</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      " >
        Use <b>1 Grit</b> to Heal up to 4 Wounds/Sanity (any mix) total from yourself and other Heros on your Map Tile <br> <br>
        You may Recover one extra <b>Grit</b> when using a <b>Tonic</b> side bag token</p>
      `

      if(card_3_equiped == true){
        card_3_equiped = false

        data = {}
        data['max_grit'] = -1
        Update_Character_Date(data)
      }
    }
    if(card == 3){
      character_card.innerHTML = `
      <h1>Cleaning Up The West</h1>
      <p
      style="
      position: relative;
      padding: 30px;
      float: left;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      " >
        Any time you kill an Enemy you may Heal <b>1 Wound</b> <u> and</u> <b>1 Sanity</b> and gain <b>10 XP</b>
      </p>
      <br>
      <h2>+1 Max Grit</h2>
      `
      if(card_3_equiped == false){
        card_3_equiped = true

        data = {}
        data['max_grit'] = 1
        Update_Character_Date(data)
      }


    }
  }

  async function Gold_Data(Data){
  let info = {}
  info['function'] = "gold"
  info["gold_value"] = Data

  data_dict = await Send_Data(info);
  gold = data_dict["new_gold_value"]

  current_gold = document.getElementById("current_gold")
  current_gold.innerHTML = `Gold: ${gold}`

  document.getElementById('gold_value').value = 0

}

  async function Dark_Stone_Data(Data){
    let info = {}
    info['function'] = "dark_stone"
    info["dark_stone_value"] = Data

    data_dict = await Send_Data(info);
    dark_stone = data_dict["new_dark_stone_value"]

    current_gold = document.getElementById("current_dark_stone")
    current_gold.innerHTML = `DarkStone: ${dark_stone}`
  }

  async function XP_Data(Data){
  let info = {}
  info['function'] = "XP"
  info["xp_value"] = Data

  data_dict = await Send_Data(info);
  xp = data_dict["new_xp_value"]

  current_xp = document.getElementById("current_xp")
  current_xp.innerHTML = `XP: ${xp} / 500`

  document.getElementById('xp_value').value = 0

}

  async function Update_Character_Date(Data){

    // assign character stats
    health = document.getElementById("current_wounds")
    grit = document.getElementById("current_grit")
    // temp dictionary
    var a = {}
    a["function"] = "update"

    // merge two dictionaries together
    var info = Object.assign({},a,Data)

    console.log("sending information")
    console.log(info)

    // get new dictionary of information to update character stats
    data_dict = await Send_Data(info);

    console.log("reciving information")
    console.log(data_dict)


    if("health" in data_dict){
      health.innerHTML = `{{character.current_health}} / ${data_dict["health"]}`
    }

    if('max_grit' in data_dict){
      grit.innerHTML = ` ${data_dict["current_grit"]} / ${data_dict["max_grit"]}`
    }

  }

  async function Delete_Token(Data,Node){
    let info = {}
    info["function"] = "delete_token";
    info["token_instnace"] = Data

    data_dict = await Send_Data(info);

    token = document.getElementById(Node)

    token.parentNode.removeChild(token)




  }

// health,sanity,grit buttons------------------------------------------------------------------------------------------
  document.getElementById('health+').addEventListener('submit',async function(event){
    event.preventDefault();
     Health_Data('health+');
  })//health form function

  document.getElementById('health-').addEventListener('submit',async function(event){
    event.preventDefault();
     Health_Data('health-');
  })//health form function

  document.getElementById('sanity+').addEventListener('submit',async function(event){
    event.preventDefault();
     Sanity_Data('sanity+');
  })//health form function

   document.getElementById('sanity-').addEventListener('submit',async function(event){
    event.preventDefault();
     Sanity_Data('sanity-');
  })//health form function

  document.getElementById('grit+').addEventListener('submit', async function(event){
    event.preventDefault();
     Grit_Data('grit+');
  })

  document.getElementById('grit-').addEventListener('submit', async function(event){
    event.preventDefault();
     Grit_Data('grit-');
  })

  document.getElementById("corupt+").addEventListener('submit', async function(event){
    event.preventDefault();
    Corrupt_Data("corupt+")
  })

  document.getElementById("corupt-").addEventListener('submit', async function(event){
    event.preventDefault();
    Corrupt_Data("corupt-")
  })

// character card buttons---------------------------------------------------------------------------------------------
  document.getElementById('card_next').addEventListener('submit', async function(event){
    event.preventDefault();
    Card_Data('card_next')
  })

  document.getElementById('card_previous').addEventListener('submit', async function(event){
    event.preventDefault();
    Card_Data('card_previous')
  })

// resource buttons-----------------------------------------------------------------------------------------------------
  document.getElementById('gold').addEventListener('submit',async function(event){
    event.preventDefault();
    gold_value = document.getElementById('gold_value').value;
    Gold_Data(gold_value)
  })

  document.getElementById('xp').addEventListener('submit', async function(event){
    event.preventDefault();
    xp_value = document.getElementById('xp_value').value;
    XP_Data(xp_value)
  })
</script>
{% endblock content %}

